<div class="flex flex-wrap mr-2 gap-x-2">
  @if(colId.DATE===columnId){
  <ng-container
    *ngTemplateOutlet="
      filterTemplate;
      context: { columnId, filter: dateStringValue, value: dateStringValue }
    "
  ></ng-container>
  }@else { @for (filterInfo of filters; track $index) {
  <ng-container
    *ngTemplateOutlet="
      filterTemplate;
      context: { columnId, filter: filterInfo.label, value: filterInfo.value }
    "
  ></ng-container>

  } }
</div>

<ng-template
  #filterTemplate
  let-columnId="columnId"
  let-filter="filter"
  let-value="value"
>
  <div
    class="flex items-center justify-between py-2 pl-3.5 pr-1 rounded-md gap-x-3 bg-sky-200"
  >
    <div class="text-xs">
      <div class="font-bold">{{ columnNames[columnId] }}</div>
      <div class="text-neutral-600">{{ filter }}</div>
    </div>
    <mat-icon
      class="text-sm cursor-pointer text-neutral-600"
      (click)="removedFilter.emit(value)"
      >close</mat-icon
    >
  </div>
</ng-template>
