<div
  [matMenuTriggerFor]="menu"
  class="flex items-center justify-center px-2 py-1 text-sm rounded-md cursor-pointer bg-neutral-200 w-fit"
>
  <div>Options</div>
  <mat-icon>keyboard_arrow_down</mat-icon>
</div>

<mat-menu #menu="matMenu" class="!relative !top-1.5">
  <button mat-menu-item (click)="onMenuClick(rowActions.EDIT)">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button
    mat-menu-item
    [id]="rowActions.UPDATE_STATUS"
    (click)="onMenuClick(rowActions.UPDATE_STATUS)"
  >
    <mat-icon>swap_horiz</mat-icon>
    <span>{{ "Change Status to " + status }}</span>
  </button>
  <button mat-menu-item (click)="onMenuClick(rowActions.DELETE)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
