<div class="px-8">
  <!-- Filter Section -->
  <ng-container *ngTemplateOutlet="filterSection"></ng-container>

  <!-- Table Section -->
  <ng-container *ngTemplateOutlet="tableSection"></ng-container>
</div>

<!-- Filter Section Template -->
<ng-template #filterSection>
  <div class="flex flex-wrap items-center w-full py-2 gap-y-2 min-h-20">
    @if(isFilterApplied){
    <ng-container *ngTemplateOutlet="filterCardList"></ng-container>
    } @else {
    <ng-container *ngTemplateOutlet="filterEmptyState"></ng-container>
    }
  </div>
</ng-template>

<!-- Filter Card List Template -->
<ng-template #filterCardList>
  <app-filter-card-list
    *ngFor="let item of appliedFilterList | keyvalue"
    [columnId]="item.key"
    [filters]="
      item.key === columnIds.DATE ? object.values(item.value) : item.value
    "
    (removedFilter)="removeFilter(item.key, $event)"
  />
</ng-template>

<!-- Filter Empty State Template -->
<ng-template #filterEmptyState>
  <div class="flex items-center text-sm text-neutral-900">
    Use the
    <mat-icon class="font-medium text-neutral-400">filter_alt</mat-icon> icon
    next to the table title to apply filters
  </div>
</ng-template>

<!-- Table Section Template -->
<ng-template #tableSection>
  <div class="overflow-x-auto">
    <table class="text-sm border-collapse table-fixed xl:w-full">
      <thead>
        <tr>
          <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngTemplateOutlet="tableBody"></ng-container>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- Table Header Template -->
<ng-template #tableHeader>
  @for (column of tableColumns; track $index) {
  <th
    class="font-normal text-start text-neutral-400"
    [ngClass]="column.width ? column.width : ''"
  >
    <app-filter-menu
      [label]="column.name"
      [enableSort]="!!column?.sort"
      [defaultOptions]="appliedFilterList[column.id]"
      [options]="salesFiltersOptions[column.id]"
      [sortBy]="sortBy === column.id"
      (closeFilterMenu)="onSelectedFilters($event, column.id)"
      (sortByChanged)="onUpdateParameters(column.id, $event)"
    />
  </th>
  }
</ng-template>

<!-- Table Body Template -->
<ng-template #tableBody>
  @for (logList of tableList; track $index) {
  <tr>
    <td colspan="8">
      <div class="flex items-center py-2 text-xs gap-x-4">
        <div class="font-semibold">{{ logList.entity }}</div>
        <div class="text-neutral-400" *ngIf="sortBy === columnIds.DATE">
          {{ logList.entity | relativeDate }}
        </div>
        <div class="text-neutral-400">{{ logList.openCount }}</div>
        <div class="flex-1 border border-neutral-200 h-1/2"></div>
      </div>
    </td>
  </tr>

  @if(logList.list.length > 0){ @for (list of logList.list; track $index) {
  <ng-container
    *ngTemplateOutlet="tableRow; context: { data: list }"
  ></ng-container>
  } }@else {
  <tr>
    <td colspan="8" class="py-4 text-center text-neutral-500">
      {{ isFetch ? "No sales log found" : "Loading sales log, please wait..." }}
    </td>
  </tr>
  }}
</ng-template>

<!-- Table Row Template -->
<ng-template #tableRow let-data="data">
  <tr class="text-slate-800">
    <td>
      {{ data.date | localDateTime : "DD/MM/YYYY" }}
    </td>
    <td class="text-sky-800">{{ data.entityName }}</td>
    <td>
      <div class="flex items-center gap-x-1">
        <mat-icon class="mb-1 text-xl">{{
          taskTypeIcon[data.taskType]
        }}</mat-icon>
        <span>{{ data.taskType }}</span>
      </div>
    </td>
    <td>{{ data.date | localDateTime : "h:mm A" }}</td>
    <td>{{ data.contactPerson }}</td>
    <td class="pr-4 truncate">
      @if(data.notes){
      {{ data.notes }}
      } @else {
      <ng-container
        *ngTemplateOutlet="addNotesTemplate; context: { data: data }"
      ></ng-container>
      }
    </td>
    <td [ngClass]="data.status ? 'text-orange-500' : 'text-sky-800'">
      {{ taskStatusTranslation[data.status] }}
    </td>
    <td>
      <app-table-row-action
        (selectedMenuItem)="rowActions($event, data)"
        [status]="
          data.status
            ? taskStatusTranslation[taskStatus.CLOSED]
            : taskStatusTranslation[taskStatus.OPEN]
        "
      />
    </td>
  </tr>
</ng-template>

<!-- Add Notes Template -->
<ng-template #addNotesTemplate let-data="data">
  <button
    class="flex items-center justify-center px-3 py-2 text-sm font-light rounded-md gap-x-1 bg-neutral-100"
    (click)="editSalesTask(data)"
  >
    <mat-icon class="text-sky-700">add_circle_outline</mat-icon>
    <span>Add Note</span>
  </button>
</ng-template>
