<div class="flex items-center gap-x-1.5" (closed)="onMenuClosed()">
  <div>{{ label }}</div>

  <div class="flex items-center justify-center mb-1">
    <mat-icon
      *ngIf="options?.length"
      [matMenuTriggerFor]="menu"
      class="relative flex justify-center text-lg font-medium rounded-full cursor-pointer left-1"
      >filter_alt</mat-icon
    >

    <mat-icon *ngIf="enableSort" class="text-xl font-medium cursor-pointer"
      >arrow_upward</mat-icon
    >
  </div>
</div>

<mat-menu #menu="matMenu">
  <div class="min-w-48">
    <div
      class="px-6 py-2 text-sm font-light border-b border-b-neutral-400 text-neutral-900"
    >
      {{ label | uppercase }}
    </div>
    <ng-container *ngFor="let option of options; let i = index">
      <button mat-menu-item>
        <mat-checkbox class="flex items-center">
          <div class="flex items-center">
            <mat-icon *ngIf="option.icon">{{ option.icon }}</mat-icon>
            <span class="flex-1 truncate">{{ option.label }}</span>
          </div>
        </mat-checkbox>
      </button>
    </ng-container>
  </div>
</mat-menu>
